@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
  background-color: theme('colors.background-gray');
  color: theme('colors.text-primary');
}
.btn-blue-invert {
  background-color: theme('colors.text-primary');
  color: theme('colors.background-gray');
}

.main-btn {
  @apply py-10 px-4 mb-5 rounded-lg btn-blue w-full;
  min-width: 250px;
}

.primary-bg-100 {
  background-color: black;
  min-height: 100vh;
}

.effectDiv {
  @apply mx-auto p-5 flex border-gray-700 cursor-pointer;
  color: theme('colors.text-primary');
}

.effectDiv:hover {
  background-color: #e1e1e1;
  color: #141414;
}

#manualMode {
  @apply h-80 flex w-screen;
}

.man-effect-container {
  @apply box-border flex-none w-1/2 border-4 border-opacity-100 flex;
  border-color: theme('colors.background-gray');
}

.effect-scroll {
  @apply flex-1 w-1/4 overflow-auto;
}

.man-effect-desc-div {
  @apply flex-1 border-l-4;
  background-color: black;
  border-color: theme('colors.background-gray');
}

#fetchBtn {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}
