@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: theme('colors.text-primary');
}

.main-btn {
  @apply py-10 px-4 mb-5 rounded-lg primary-color-btn w-full;
  min-width: 250px;
}

.primary-bg-100 {
  background-color: black;
  min-height: 100vh;
}

.effectDiv {
  @apply mx-auto p-5 flex border-gray-700 cursor-pointer;
}

#manualMode {
  @apply h-80 flex w-screen;
}

.man-effect-container {
  @apply box-border flex-none w-1/2 border-2 flex;
  border-color: theme('colors.text-primary');
}

.effect-scroll {
  @apply flex-1 w-1/4 overflow-auto;
}

.man-effect-desc-div {
  @apply flex-1 border-l-4;
  background-color: black;
  border-color: theme('colors.text-primary');
  position: relative;
}

#fetchBtn {
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}

#setActiveBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: theme('colors.background-gray');
}

#setActiveBtn:hover {
  background-color: theme('colors.text-primary');
  color: theme('colors.background-gray');
}

.center-flex {
  display: block;
}

@media screen and (max-width: 600px) {
  .center-flex {
    display: none;
  }
  .man-effect-container {
    width: 90vw;
    margin: 0 5%;
  }
}

/* Button CSS */
.primary-color-btn {
  background-color: theme('colors.background-gray');
  color: theme('colors.text-primary');
}

.primary-color-btn:hover {
  background-color: theme('colors.text-primary');
  color: theme('colors.background-gray');
}
